<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.viotory.diary.mapper.MemberMapper">

    <insert id="insertMember" parameterType="com.viotory.diary.vo.MemberVO" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO members (
            email, password, nickname, phone_number, birthdate, gender,
            my_team_code, social_provider, social_uid, role, status
        ) VALUES (
                     #{email}, #{password}, #{nickname}, #{phoneNumber}, #{birthdate}, #{gender},
                     #{myTeamCode}, IFNULL(#{socialProvider}, 'NONE'), #{socialUid}, 'USER', 'ACTIVE'
                 )
    </insert>

    <select id="selectMemberByEmail" parameterType="string" resultType="com.viotory.diary.vo.MemberVO">
        SELECT * FROM members WHERE email = #{email}
    </select>

    <select id="countByNickname" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM members WHERE nickname = #{nickname}
    </select>

    <select id="selectMemberById" parameterType="long" resultType="com.viotory.diary.vo.MemberVO">
        SELECT * FROM members WHERE member_id = #{memberId}
    </select>

    <update id="updateLastLogin" parameterType="long">
        UPDATE members
        SET last_login_at = NOW()
        WHERE member_id = #{memberId}
    </update>

</mapper>