@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
}

@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
}


html {
    font-size: 62.6%;
}

body,
input,
select,
textarea,
button {
    line-height: 1.4;
    color: #111;
    font-family: GmarketSans, Roboto, sans-serif;
    font-weight: 500;
    word-break: break-all;
}

body {
    font-size: 1.6rem;
}

input,
select,
textarea,
button {
    font-size: 1.4rem;
}