@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url('/fonts/Pretendard-Thin.woff2') format('woff2'),
         url('/fonts/Pretendard-Thin.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
         url('/fonts/Pretendard-ExtraBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Pretendard-Light.woff2') format('woff2'),
         url('/fonts/Pretendard-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2'),
         url('/fonts/Pretendard-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Pretendard-Medium.woff2') format('woff2'),
         url('/fonts/Pretendard-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2'),
         url('/fonts/Pretendard-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2'),
         url('/fonts/Pretendard-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
         url('/fonts/Pretendard-ExtraBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('/fonts/Pretendard-Black.woff2') format('woff2'),
         url('/fonts/Pretendard-Black.woff') format('woff');
    font-display: swap;
}

body, input, textarea, button, select {
    font-family: 'Pretendard', sans-serif;
    word-break: keep-all;
    font-weight: 500;
    letter-spacing: -0.5px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
    html, body{
        font-family: 'Pretendard', sans-serif !important;
    }
}