/**********************************************************************************************
	일반
*********************************************************************************************
.table-focus input[type=text]:focus{ background-color:#e4fbff;}
.table-focus input[type=email]:focus{ background-color:#e4fbff;}
.table-focus input[type=number]:focus{ background-color:#e4fbff;}
.table-focus input[type=image]:focus{ background-color:#e4fbff;}
.table-focus textarea:focus{ background-color:#e4fbff;}
*/

.mb20 { margin-bottom: 20px !important }
.mb25 { margin-bottom: 25px !important }
.mb30 { margin-bottom: 30px !important }
.mb35 { margin-bottom: 35px !important }
.mb40 { margin-bottom: 40px !important }
.mb45 { margin-bottom: 45px !important }

.mt5 { margin-top: 5px !important }
.mt10 { margin-top: 10px !important }
.mt15 { margin-top: 15px !important }
.mt20 { margin-top: 20px !important }
.mt25 { margin-top: 25px !important }

.mr5 { margin-right: 5px !important }
.mr10 { margin-right: 10px !important }
.mr15 { margin-right: 15px !important }

.ml5 { margin-left: 5px !important }
.ml10 { margin-left: 10px !important }
.ml15 { margin-left: 15px !important }
.ml20 { margin-left: 20px !important }
.ml25 { margin-left: 25px !important }

/**********************************************************************************************
	로그인
*********************************************************************************************/
#login {
    width: 600px;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    border-top: 10px solid #0055a2;
    padding: 0 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#login .brand-logo {
    text-align: center;
    padding: 30px 0;
}

#login .brand-logo #logo_txt{
    margin-top: 5px;
    font-weight: 600;
    font-size: 30px;
    color: #0b2369;
}

#login .inp {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #c5c5c5;
    color: #636363;
}

#login .btn-login {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 58px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    background: #0b2369;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-shadow: 2px 2px #0055a2;
}

#login .btn-login:hover {
    background: #ffffff;
    border: 1px solid #0055a2;
    color: #0b2369;
    transition: 0.3s ease-in-out;
    text-shadow: none;
}

.lock_scroll {
    overflow: hidden;
}

/* 교육안내 템플릿화 과정안내, 신청자격안내 */
.guide_tp_01 .mobile_cmnt {font-size: 1.4rem; position: relative; padding-left: 20px; margin-bottom: 10px; display: none;}
.guide_tp_01 .mobile_cmnt::before {
    display: inline-block; content: "!"; width: 14px; height: 14px; line-height: 14px; font-size: 10px;
    background: #083274; border-radius: 100px; color: #fff; text-align: center;
    position: absolute; left: 0; top: 2px;
}

.guide_tp_01 { margin-bottom: 30px; }
.guide_tp_01 .table table {
    border-radius: 5px; table-layout: fixed; width: 100%; overflow: hidden;
    box-shadow: 0 0 0 2px #083274; border-collapse: collapse;
}
.guide_tp_01 .table th,
.guide_tp_01 .table td {vertical-align: middle; font-size: 1.5rem; padding: 20px !important; border: 1px solid #E6ECF5; word-break: break-all;}
.guide_tp_01 .table th {text-align: center; background: #F9FBFF;}
.guide_tp_01 .table .gubun {width: 20%; max-width: 150px; text-align: center;}
.guide_tp_01 .table .item.list {display: flex; flex-direction: column; gap: 8px;}
.guide_tp_01 .table .item.list p {padding-left: 10px; position: relative;}
.guide_tp_01 .table .item.list p::before {position: absolute; left: 0; display: block; content: "·";}
.guide_tp_01 .table .address {font-size: 1.4rem; color: #555; margin-top: 3px;}
.guide_tp_01 .table .cmnt {display: flex; flex-direction: column; margin-top: 5px;}
.guide_tp_01 .table .cmnt p {color: #555; font-size: 1.1rem;}

.guide_tp_02 ul {border-radius: 5px; background: #F9FBFF; border: 2px solid #E6ECF5; padding: 20px; display: flex; flex-direction: column; gap: 20px;}
.guide_tp_02 li {display: flex; font-size: 1.5rem;}
.guide_tp_02 li .naeyong {width: 100%;}
.guide_tp_02 .gubun {flex-basis: 130px; flex-shrink: 0; color: #083274; padding-top: 10px; }
.guide_tp_02 .gubun::before {display: inline-block; content: "·"; margin-right: 5px;}
.guide_tp_02 .item.list {display: flex; flex-direction: column; gap: 8px;}
.guide_tp_02 .item.list p {padding-left: 15px; position: relative;}
.guide_tp_02 .item.list p::before {position: absolute; left: 0; display: block; content: "-";}
.guide_tp_02 .cmnt {display: flex; flex-direction: column; margin-top: 5px;}
.guide_tp_02 .cmnt p {color: #555; font-size: 1.1rem;}
.guide_tp_02 .url {text-decoration: underline;}
.guide_tp_02 .img {margin: 10px; max-width: 650px;}
.guide_tp_02 .img .m {display: none;}

/*.guide_tp_01 .contentAddBtn {
    background: url(../img/icon_form_add.svg) no-repeat center center / 44px 44px;
}
.guide_tp_01 .contentDelBtn {
    background: url(../img/icon_form_del.svg) no-repeat center center / 44px 44px;
}

.guide_tp_01 .contentAddBtn, .contentDelBtn {
    border: 1px solid #ccc;
    width: 44px;
    height: 44px;
    display: inline-block;
    vertical-align: top;
    text-indent: -9999px;
}*/

