
@media (max-width: 1400px){
    .main_edu_list ul li .chasi {flex-basis: 80px;}
    .main_edu_list ul li .peopleRecruit {flex-basis: 80px;}
    .main_edu_list ul li .peopleApp {flex-basis: 80px;}
    .main_edu_list ul li .periodApp {flex-basis: 120px;}
    .main_edu_list ul li .periodTng {flex-basis: 120px;}

    #content_wrap {flex-direction: column; padding: 0 0 100px; width: 100%;}
    #sidebar {width: 100%; margin-right: 0;}
    #sidebar .title {display: none;}
    #sidebar .lnb {margin-top: 0; padding: 0; border-radius: 0; display: flex; flex-direction: column;}
    #sidebar .lnb li {order: 2; display: none;}
    #sidebar .lnb li.on {order: 1; display: block; border-bottom: 1px solid #013B90;}
    #sidebar .lnb li.on a {pointer-events: none;}
    #sidebar .lnb li.on a::after {
        display: inline-block; content: ""; width: 6px; height: 6px; rotate: 135deg;
        border-top: 1px solid #013B90; border-right: 1px solid #013B90; margin-top: 3px;
    }
    #sidebar .lnb li a {padding: 20px 20px 15px; flex-direction: row; justify-content: space-between}
    #sidebar .lnb li:last-child a {border-bottom: 0;}
    #content {padding-top: 60px; width: 90%; max-width: 1300px; margin:0 auto;}

    .calendar tbody td:after {display: block; content: ""; padding-bottom:100%;}
    .choiceSkedList {font-size: 1.3rem;}

    .center_info_2 .box_1:after {width: 62vw;}

    .guide_info_3 .info_list .tit_box .big {font-size: 1.8rem;}
    .guide_info_3 .info_list .text_box br {display: none;}
    

}

@media (max-width: 1024px){

    .table_wrap .table_box th,
    .table_wrap .table_box td {font-size: 1.3rem;}

    .body_tit .big {font-size: 3rem;}
    .body_tit .big:after {top: -15px; right: -15px; width: 30px; height: 30px;}
    .body_tit .small {font-size: 1.6rem;}

    .floating a {width: 100px; height: 100px; font-size: 1.1rem;}
    .floating a img {width: 20px;}


    #header .nav .dept1 > li > a {font-size: 1.4rem;}
    #header .nav .dept2 {width: 230px;}
    #header .nav .dept2 > li > a {font-size: 1.2rem;}

    .main_top_bot {flex-direction: column; margin: 40px auto;}
    .main_menu_wrap {margin: 0;}
    .main_menu_wrap li {width: calc(16.666% - 20px);}
    .main_menu_wrap li:nth-child(n+4) {margin-bottom: 20px;}
    .main_menu_wrap li .icon {width: 60px;}
    .main_menu_wrap li .text{font-size: 1.4rem;}
    .main_video_wrap {margin:20px 0 0;}
    
    .main_edu {padding: 120px 0;}
    .main_edu_list .list_head {display: none;}
    .main_edu_list .list_body {border-top: 1px solid #ddd;}
    .main_edu_list ul li {flex-wrap: wrap; padding: 20px 0 15px;}
    .main_edu_list ul li > div {padding: 0; flex-basis: auto !important; text-align: left; margin:5px 10px; font-size: 1.3rem;}
    .main_edu_list ul li > div::before {
        display: inline-block; content: ""; margin-right: 5px; color: #013B90;
    }
    .main_edu_list .list_body li .name {width: 100%; font-size: 1.6rem;}
    .main_edu_list .list_body li .name::before {display: none;}
    .main_edu_list .list_body li .name a {text-overflow:unset; white-space: unset;}
    .main_edu_list ul li .chasi::before {content: "차시";}
    .main_edu_list ul li .peopleRecruit::before {content: "인원";}
    .main_edu_list ul li .peopleApp::before {content: "신청인원";}
    .main_edu_list ul li .periodApp::before {content: "신청기간";}
    .main_edu_list ul li .periodTng::before {content: "교육기간";}

    .main_board {padding: 120px 0;}
    .main_board_list .title .text {font-size: 2rem;}
    .main_board_list .list li .subject {font-size: 1.4rem; }
    .main_board_list .list li .date {font-size: 1.2rem; flex-basis: 80px;}

    .subscribe_wrap {padding: 120px 0;}

    .sub_sitemap .sitemap_box .list a {width: calc(50% - 20px);}

    .sked_wrap .sked_btn a {font-size: 1.4rem; padding: 12px 15px 9px;}
    .sked_list_wrap .sked_list > li {flex-direction: column; align-items: flex-start; padding: 40px 0;}
    .sked_list_wrap .sked_list .thumb {width:100%; max-width: 400px; flex-basis: auto;}
    .sked_list_wrap .sked_list .btn {flex-basis: auto; width: 100%; }
    
    .board_wrap .gallery_list_wrap .gallery_list li {width: calc(50% - 10px);}

    .state_wrap .table_top .right {font-size: 1.3rem;}

    .my_edu_list_wrap .my_edu_list > ul > li .number {display: none;}
    .my_pay_list_wrap .my_pay_list > ul > li .number {display: none;}

    .my_post_list_wrap .my_post_list .number,
    .my_reply_list_wrap .my_reply_list .number {display: none;}

    
    #popupCalendar .close_btn {margin:20px auto 0;}
    .calendar_box {flex-direction: column;}
    .calBox {flex: auto}
    .calList {flex: auto;}

    .guide_all .table_wrap .first {width: 100px;}
    
    .guide_all_inquiry {flex-direction: column; gap: 20px;}
    .guide_all_inquiry .tit_box {flex-basis: auto;}

    .guide_plan .name {width: 100px;}

    .guide_sub_tit {font-size: 1.6rem;}
    .guide_top_tit .big {font-size: 2.8rem;}
    .guide_top_tit .eng {font-size: 1.4rem;}
    .guide_top_tit .text {font-size: 1.4rem;}
    .guide_top_tit .text br {display: none;}
    .guide_top_bnr .bnr_box .text_box .big {font-size: 2rem;}
    .guide_top_bnr .bnr_box .text_box .small {font-size: 1.4rem;}
    .guide_top_bnr .info_box .tit {font-size: 1.6rem;}
    .guide_top_bnr .info_box .text p {font-size: 1.4rem;}

    .guide_table th,
    .guide_table td {font-size: 1.6rem;}
    .guide_table .small br {display: none;}

    .guide_pros .pros_box .pros_list {gap: 10px;}
    .guide_pros .pros_box .pros_list .box {font-size: 1.6rem;}

    .guide_info_1 .gubun {font-size: 1.6rem;}
    .guide_info_1 .naeyong {font-size: 1.6rem;}
    
    .guide_info_3 .info_list li {flex-direction: column; align-items: flex-start; gap: 10px;}
    .guide_info_3 .info_list .tit_box {min-width: unset;}
    .guide_info_3 .info_list .tit_box .big br {display: none;}
    .guide_info_3 .info_text .gubun {flex-basis: 115px; font-size: 1.8rem;}
    .guide_info_3 .info_text .naeyong {font-size: 1.6rem;}

    .guide_info_4 .line {height: 4px;}
    .guide_info_4 .info_list {gap: 15px;}
    .guide_info_4 .info_list li .text_box {font-size: 1.4rem;}

    .guide_info_5 .info_list {gap: 15px;}
    .guide_info_5 .info_list li .text_box {font-size: 1.4rem;}
    
    .guide_inquiry .cont_box .tit {font-size: 1.6rem; flex-basis: 90px;}
    .guide_btn_box .btn_box a {font-size: 1.8rem;}

    .guide_tp_01 .table th,
    .guide_tp_01 .table td {font-size: 1.4rem; padding:20px 10px;}    
    .guide_tp_01 .table .gubun {width: 100px;}
    .guide_tp_01 .table .address {font-size: 1.2rem;}
    .guide_tp_01 .table .cmnt p {font-size: 1.2rem;}

    .guide_tp_02 li {font-size: 1.4rem;}
    .guide_tp_02 .gubun {flex-basis: 80px;}
    .guide_tp_02 .cmnt p {font-size: 1.2rem;}

    .center_tit_box .big {font-size: 2.8rem;}
    .center_tit_box .small {font-size: 1.4rem;}
    .center_info_1 {padding: 20px;}
    .center_info_1 .cont_box {gap: 10px;}
    .center_info_1 .cont_box .box .text .big {font-size: 1.8rem;}
    .center_info_1 .cont_box .box .text .small {font-size: 1.4rem;}
    .center_info_3 .box .text {font-size: 1.6rem;}
    .center_info_4 .box {gap: 20px;}
    .center_info_4 .box .box_inner .tit {font-size: 1.4rem;}
    .center_info_4 .box .box_inner .text {font-size: 1.4rem;}

    .center_current_3 .box .tit {font-size: 1.8rem;}
    .center_current_3 .box .list {gap: 20px;}
    .center_current_3 .box .list:after {top: 30%;}
    .center_current_3 .box .list li {width: calc(25% - 20px)}
    .center_current_3 .box .list .text {font-size: 1.4rem;}
    
    .form_wrap .form_box .form_list > li.w50 {width: 100%;}

    .recruit_item {width: calc(50% - 10px);}
    .recruit_cp_top {gap: 40px;}
    .recruit_cp_top .logo_box {flex-basis: 250px;}
    .recruit_cp_top .info_box .list li.w50 {width: 100%;}
    .recruit_info_list li.w50 {width: 100%;}

    .guide_plan .table_wrap .table-lh table{min-width: 800px;}
    .guide_plan .table_wrap .table.table-lh{overflow: scroll}
    .guide_plan .table_tit .mobile_cmnt.mobile_cmnt_tb{display: block;}
}

@media (max-width: 768px){

    button {padding: 0 10px;}

    #container {margin-top: 60px;}
    #content_wrap {padding: 0 0 80px;}

    .sub_tab_btn {margin-bottom: 40px;}

    .sub_box_tit {margin-bottom: 10px;}
    .sub_box_tit .big {font-size: 1.8rem;}

    .sub_tab_btn li a {font-size: 1.4rem;}

    .floating {bottom: 10px; right: 10px;}
    .tab_menu li {font-size: 1.4rem; margin:10px 5px;}

    .paging ol li {font-size: 1.2rem;}
    .paging ol li a {width: 35px; height: 35px; line-height: 35px;}

    .popup .popup_tit {font-size: 1.4rem;}
    .popup .popup_close {top: 12px; right: 12px;}

    .m_menu {display:block; position: relative; width: 25px; height: 25px; text-decoration:none; z-index: 999;}
    .m_menu span {display:block; width:100%; height:2px; background:#013B90;
            color:transparent; position:absolute; top:50%; transform: translate(0,-50%); transition:all 0.5s;}
    .m_menu span:before,
    .m_menu span:after {content:""; position:absolute; left:0; top:0; width:100%; height:2px; background:#013B90; transition:all 0.5s;}
    .m_menu span:before {top:-8px;}
    .m_menu span:after {top:8px;}

    .m_menu.on span{background:rgba(225,245,136,0);}
    .m_menu.on span:before {top:0px; transform : rotate(45deg); background: #fff;}
    .m_menu.on span:after {top:0px; transform : rotate(-45deg); background: #fff;}

    .aside_bg {position:fixed; }
	.aside_bg.on {position:fixed; top:0; left:0; right:0; bottom:0; background: rgba(0,0,0,0.8); z-index: 998; }

    #header .header_top {display: none;}
    #header .header_bot {height: 60px;}
    #header .header_bot h1 .logo img {width: 160px;}
    #header .nav {
        display: block; position: fixed; background:#fff; top:0; left: -75%; bottom:0; z-index: 999; width: 75%;
        transition: all .5s;
    }
    #header .nav.on {left: 0;}
    #header .nav .mobile_top {display: flex; align-items: center; gap: 30px; background: #013B90; padding:0 20px; height:50px;}
    #header .nav .mobile_top > a {font-size: 1.3rem; color: #fff;}
    .hd_nav .nav .moblie_top .selLang {margin-left: auto;}
    #header .nav .dept1 {display: block;}
    #header .nav .dept1 > li {border-bottom:1px solid #ededed; position: relative;}    
    #header .nav .dept1 > li::after {
        display: block; content: ""; width: 7px; height: 7px; border-top:1px solid #111; border-right:1px solid #111;
        rotate: 135deg; position: absolute; right: 20px; top:25px
    }

    #header .nav .dept1 > li.on::after {rotate: -45deg; }
    #header .nav .dept1 > li > a {font-size: 1.5rem; padding:20px; text-align: left; pointer-events: none;}
    #header .nav .dept2 {position: unset; transform: unset; width: 100%; padding: 5px 0; background: #eff6ff}
    #header .nav .dept2 > li > a {padding: 0 20px; border-bottom:0; font-size: 1.3rem; margin:15px 0; color: #333;}
    #header .nav .dept2 > li > a:hover {background:none; color: #013B90;}

    #footer .footer_bot .footer_logo {flex-direction: column; align-items: flex-start;}
    #footer .footer_bot .footer_logo .host {margin-top: 20px;}
    #footer .footer_bot .footer_logo .host .box {margin-left: 0; margin-right: 40px;}

    .main_top {padding: 40px 0;}
    
    .main_search_wrap .search_bar {height: 50px;}
    .main_search_wrap .search_bar input::placeholder {font-size: 1.4rem;}
    .main_search_wrap .hashtag {margin-top: 10px;}
    .main_search_wrap .hashtag a {font-size: 1.3rem; margin: 5px;}
    .main_swiper_wrap {margin-top: 20px;}
    .main_swiper_wrap .swiper-slide::after {padding-bottom: 75%;}
    .main_top_bot {margin: 20px auto;}
    .main_menu_wrap li {width: calc(33.333% - 10px); margin-bottom: 15px;}
    .main_menu_wrap li .icon {width: 45px;}
    .main_video_wrap {margin: 0;}

    .main_edu {padding: 100px 0;}
    .main_edu_list .edu_none {padding-top: 0; gap: 10px;}
    .main_edu_list .edu_none .icon {width: 80px;}
    .main_edu_list .edu_none .text {font-size: 1.4rem;}
    .main_board {padding: 100px 0;}
    .main_board .inner {padding: 50px 30px 30px;}
    .main_board .body_tit {margin-bottom: 0;}
    .main_board_box {flex-direction: column; margin: 0;}
    .main_board_list {margin: 50px 0 0;}
    .main_board_list .list li {flex-direction: column;}
    .main_board_list .list li .subject {text-overflow: unset; white-space: unset;}
    .main_board_list .list li .date {flex-basis: unset; text-align: left; margin-top: 5px;}

    .subscribe_wrap {padding: 100px 0;}
    .subscribe_wrap .title {font-size: 2.4rem; margin-bottom: 25px;}
    .subscribe_wrap .subscribe_bar {height: 50px;}
    .subscribe_wrap .subscribe_bar input {padding: 0 100px 0 20px;}
    .subscribe_wrap .subscribe_bar input::placeholder {font-size: 1.3rem;}
    .subscribe_wrap .subscribe_bar .btn {width: 80px; height:50px; line-height: 50px; font-size: 1.3rem;}

    .sub_top {height: 120px;}
    .sub_top .sub_top_nav {display: none;}
    .sub_top .sub_top_title {font-size: 2.4rem;}
    .sub_sitemap .sitemap_box .list {margin: 0;}
    .sub_sitemap .sitemap_box .list a {width: 100%;}

    .sked_search_wrap li .gubun {width: 80px; font-size: 1.4rem;}
    .sked_list_wrap .sked_list .info .description li {padding-right: 0; width: 100%;}

    .sked_list_none .edu_none {gap: 10px;}
    .sked_list_none .edu_none .icon {width: 80px;}
    .sked_list_none .edu_none .text {font-size: 1.4rem;}

    .board_wrap .board_top {flex-direction: column; gap: 20px;}
    .board_wrap .post_number {order: 2; font-size: 1.2rem;}
    .board_wrap .board_search {order: 1;}
    .board_wrap .board_search .search_bar {flex: 1; max-width: 400px;}
    .board_wrap .board_search .search_bar input {width: 100%;}
    .board_wrap .board_list_wrap {margin-top: 20px;}
    .board_wrap .board_list_wrap .list_head {display: none;}
    .board_wrap .board_list_wrap .list_body {border-top: 1px solid #ddd;}
    .board_wrap .board_list_wrap .list_body li {flex-wrap: wrap; gap: 10px; padding: 20px 0;}
    .board_wrap .board_list_wrap .list_body li div {padding: 0;}
    .board_wrap .board_list_wrap .list_body li div::before {
        display: inline-block; content: ""; color: #013B90; margin-right: 3px;
    }
    .board_wrap .board_list_wrap ul li .number {display: none;}
    .board_wrap .board_list_wrap ul li .write,
    .board_wrap .board_list_wrap ul li .date,
    .board_wrap .board_list_wrap ul li .views {flex-basis: auto; font-size: 1.2rem;}
    .board_wrap .board_list_wrap ul li .subject {width: 100%; flex: auto;}
    .board_wrap .board_list_wrap ul li .subject::before {display: none;}
    .board_wrap .board_list_wrap ul li .write::before {content: "작성자";}
    .board_wrap .board_list_wrap ul li .date::before {content: "작성일";}
    .board_wrap .board_list_wrap ul li .views::before {content: "조회";}
    .board_wrap .board_view_wrap .subject {font-size: 1.8rem; padding-bottom: 10px;}
    .board_wrap .board_view_wrap .info_box {gap: 10px;}
    .board_wrap .board_view_wrap .info_box .box {font-size: 1.2rem;}
    .board_wrap .board_view_wrap .info_box .box.write .gubun,
    .board_wrap .board_view_wrap .info_box .box.date  .gubun {display: none;}
    .board_wrap .board_view_wrap .btn_box a {font-size: 1.4rem;}
    .board_wrap .board_view_wrap .tag_box p {font-size: 1.2rem;}
    .reply_wrap .reply_list .replyToReply {margin-left: 40px;}

    .board_wrap .gallery_list_wrap .gallery_list .subject {font-size: 1.4rem;}
    .board_wrap .gallery_list_wrap .gallery_list .date {font-size: 1.2rem;}

    /* faq 추가 20240201 */
    .board_wrap .board_faq_wrap {margin-top: 20px;}
    .board_wrap .board_faq .ask {font-size: 1.4rem;}
    .board_wrap .board_faq .answer {font-size: 1.4rem;}

    .community_list li {padding: 20px 0;}
    .community_list li .number {display: none;}
    .community_list li .info .subject {font-size: 1.4rem;}
    .community_list li.important .subject::before {width: 16px; height: 16px; margin-bottom: 2px;}
    .community_list li .info .description {font-size: 1.2rem;}
    .community_list li .info .description > div {gap: 10px;}
    .community_btn_box a {font-size: 1.2rem; width: 70px; line-height: 30px; height: 30px;}
    .community_write_wrap .subject input {font-size: 1.8rem; padding-bottom: 10px;}
    .community_write_wrap .btn_box a {font-size: 1.4rem;}
    
    .state_wrap .table_top .left {font-size: 1.3rem;}
    .state_wrap .table_top .right {font-size: 1.1rem;}
    .state_wrap .table_box {overflow: auto;}
    .login_wrap .login_top_txt {font-size: 1.6rem; word-break: keep-all;}

    .form_wrap .form_box .form_list > li > div {font-size: 1.3rem;}
    .form_wrap .form_box .form_list > li .gubun {flex-basis: 110px;}
    .form_wrap .form_box .form_list > li .naeyong .input input {font-size: 1.3rem;}
    .form_wrap .form_box .form_list > li .naeyong .input button {font-size: 1.3rem;}    
    .form_wrap .form_box .form_list > li .naeyong .input.form_email input {width: calc(50% - 5px);}
    .form_wrap .form_box .form_list > li .naeyong .input.form_email select {width: calc(50% - 5px);}
    .form_wrap .form_box .form_list > li .cmnt {font-size: 1.2rem;}
    .form_wrap .form_box .form_privacy_check p {font-size: 1.3rem;}
    .form_wrap .form_box .form_file label {font-size: 1.3rem;}

    .form_wrap .form_notice_box {padding: 20px; word-break: keep-all;}
    .form_wrap .form_notice_box .tit_box {font-size: 1.8rem;}
    .form_wrap .form_notice_box .tit_box:before {
        width: 20px; height: 20px; line-height: 23px; font-size: 1.4rem;
    }
    .form_wrap .form_notice_box .text_box .box .tit {font-size: 1.5rem;}
    .form_wrap .form_notice_box .text_box .box .cont .text1 {font-size: 1.4rem;}
    .form_wrap .form_notice_box .text_box .box .cont .text2 {font-size: 1.3rem;}

    .form_guide .list li > div {font-size: 1.3rem;}
    .form_guide .list .gubun {width: 110px;}



    .completed_wrap {padding: 80px 0 40px;}
    .completed_wrap .title {font-size: 2.4rem; font-weight: 700;}
    .completed_wrap .text {margin-top: 10px; font-size: 1.6rem;}
    .completed_wrap .btn_box {margin-top: 40px;}

    .my_edu_list_wrap .my_edu_list .list_head {display: none;}
    .my_edu_list_wrap .my_edu_list .list_body {border-top: 1px solid #ededed;}
    .my_edu_list_wrap .my_edu_list > ul > li {flex-direction: column; align-items: flex-start; padding: 30px 0; gap: 10px;}
    .my_edu_list_wrap .my_edu_list > ul > li > div {padding: 0; font-size: 1.3rem;}
    .my_edu_list_wrap .my_edu_list > ul > li .subject {flex: 1;}    
    .my_edu_list_wrap .my_edu_list .list_body .subject a {font-size: 1.6rem; margin-bottom: 0;}
    .my_edu_list_wrap .my_edu_list > ul > li .subject div {margin-top: 10px;}
    .my_edu_list_wrap .my_edu_list > ul > li .venue,
    .my_edu_list_wrap .my_edu_list > ul > li .state {flex-basis: auto; color: #555;}
    .my_edu_list_wrap .my_edu_list > ul > li .venue::before,
    .my_edu_list_wrap .my_edu_list > ul > li .state::before {
        display: inline-block; margin-right:5px;
    }
    .my_edu_list_wrap .my_edu_list > ul > li .venue::before {
        content: "장소 :";
    }
    .my_edu_list_wrap .my_edu_list > ul > li .state::before {
        content: "신청현황 :";
    }
    .my_edu_list_wrap .my_edu_list > ul > li .state p {display: inline-block;}
    .my_edu_list_wrap .my_edu_list > ul > li .modify {flex-basis: auto; margin-top: 10px;}
    .my_edu_list_wrap .my_edu_list .list_body .modify a {border-radius: 50px; padding: 10px 20px 7px;}

    .my_pay_list_wrap .my_pay_list .list_head {display: none;}
    .my_pay_list_wrap .my_pay_list .list_body {border-top: 1px solid #ededed;}
    .my_pay_list_wrap .my_pay_list > ul > li {flex-direction: column; align-items: flex-start; padding: 30px 0; gap: 10px;}
    .my_pay_list_wrap .my_pay_list > ul > li > div {padding: 0; font-size: 1.3rem;}
    .my_pay_list_wrap .my_pay_list > ul > li .date,
    .my_pay_list_wrap .my_pay_list > ul > li .method,
    .my_pay_list_wrap .my_pay_list > ul > li .state {flex-basis: auto; color: #555;}
    .my_pay_list_wrap .my_pay_list > ul > li .date::before,
    .my_pay_list_wrap .my_pay_list > ul > li .method::before,
    .my_pay_list_wrap .my_pay_list > ul > li .state::before {
        display: inline-block; margin-right:5px;
    }
    .my_pay_list_wrap .my_pay_list > ul > li .date::before {
        display: inline-block; content: "신청일(결제일) :"; margin-right:5px;
    }
    .my_pay_list_wrap .my_pay_list > ul > li .method::before {
        display: inline-block; content: "결제 방법 :"; margin-right:5px;
    }
    .my_pay_list_wrap .my_pay_list > ul > li .state::before {
        display: inline-block; content: "결제 상태 :"; margin-right:5px;
    }
    .my_pay_list_wrap .my_pay_list .list_body .subject {font-size: 1.6rem;}
    .my_pay_list_wrap .my_pay_list .list_body .subject .payment {font-size: 1.8rem;}

    .my_post_list_wrap .my_post_list li,
    .my_reply_list_wrap .my_reply_list li {flex-direction: column; align-items: flex-start; text-align: left;}
    .my_post_list_wrap .my_post_list .check, 
    .my_post_list_wrap .my_post_list .btn,
    .my_reply_list_wrap .my_reply_list .check, 
    .my_reply_list_wrap .my_reply_list .btn {flex-basis: auto; width: 100%;}
    .my_post_list_wrap .my_post_list .btn,
    .my_reply_list_wrap .my_reply_list .btn {justify-content: flex-start;}

    #popupCalendar .close_btn {font-size: 1.4rem; height: 40px; line-height: 40px; max-width: 100px;}
    .calBox .calYm {font-size: 1.4rem;}
    .calBox .calRadio {font-size: 1.2rem;}
    .calBox .calRadio input[type="checkbox"],
    .calBox .calRadio input[type="radio"] {width: 12px; height: 12px; margin: 0 4px 2px;}
    .calBox .calRadio input[type="checkbox"]:checked,
    .calBox .calRadio input[type="radio"]:checked {border: 3px solid #083274;}
    .calendar td {font-size: 1rem; background: #fff; }
    .calendar thead td,
    .calendar tbody td {text-align: center;}    
    .calendar tbody td > div {border-width: 3px; padding: 2px; justify-content:center; }
    .calendar tbody td > div > div {width: 100%;}
    .calendar tbody td > div > p {font-size: 0; display: inline-block;}
    .calendar tbody td > div > p:before {margin:2px; width: 7px; height: 7px;}
    .calendar tbody td > div.choiceDay {border-width: 3px;}
    .choiceCalDay {font-size: 1.3rem;}
    .choiceSkedList li {font-size: 1.2rem;}
    .choiceSkedList li:before {width: 5px; height: 5px; top: 5px;}

    .guide_all .table_tit .big {font-size: 1.6rem;}
    .guide_all .table_wrap .first {width: 80px;}
    .guide_all .table_wrap .item {font-size: 1.2rem;}

    .guide_plan .table_tit .big {font-size: 1.6rem;}
    .guide_plan th, .guide_plan td {font-size: 1.4rem;}



    .guide_top_tit .big {font-size: 2.4rem;}

    .guide_top_bnr .info_box {margin-top: 20px; flex-direction: column;}
    .guide_top_bnr .info_box:before,
    .guide_top_bnr .info_box li:before,
    .guide_top_bnr .info_box li:after {display: none;}

    .guide_table {flex-direction: column; align-items:unset;}
    .guide_table .table_box {overflow-x: scroll;}
    .guide_table .table_box table {min-width: 500px;}
    .guide_table th, .guide_table td {font-size: 1.5rem;}
    .guide_table .small {font-size: 1.3rem}
    .guide_table td .box_number br {display: none;}

    .guide_pros {flex-direction: column;}
    .guide_pros .pros_box {width: 100%;}
    .guide_pros .pros_box .pros_list {flex-direction: column;}
    .guide_pros .pros_box .pros_list .icon {rotate: 90deg;}

    .guide_info_1 li {flex-direction: column; gap: 0;}
    .guide_info_1 .gubun {flex-basis: auto; width: 100%; border-radius: 5px 5px 0 0; padding : 15px 15px 8px}
    .guide_info_1 .naeyong {width: 100%; border-radius: 0px 0px 5px 5px;}
    .guide_info_1 .logo {padding: 20px 0 0; gap: 20px; justify-content: center;}

    .guide_info_2 {padding: 20px;}
    .guide_info_2 li {flex-direction: column;}
    .guide_info_2 .gubun {flex-basis: auto;}
    .guide_info_2 .naeyong {padding-left: 14px; margin-top: 5px; font-size: 1.4rem;}
    .guide_info_2 .naeyong .list_number li {padding-left: 22px;}
    .guide_info_2 .naeyong .list_number .number {font-size: .8rem; width: 16px; height: 16px; line-height: 19px;}
    .guide_info_2 .naeyong .img .pc {display: none;}
    .guide_info_2 .naeyong .img .m {display: block;}

    .guide_info_3 .info_list li {width: 100%;}
    .guide_info_3 .info_text {flex-direction: column; gap: 14px;}
    .guide_info_3 .info_text .gubun {flex-basis: auto;}
    .guide_info_3 .info_text .gubun::after {
        display: none;
    }

    .guide_info_4 .line {display: none;}
    .guide_info_4 .info_list {flex-wrap: wrap;}
    .guide_info_4 .info_list li {width: calc(33.333% - 10px);}

    .guide_info_5 .info_list {flex-wrap: wrap;}
    .guide_info_5 .info_list li {width: calc(33.333% - 10px);}

    .guide_inquiry .cont_box {padding: 20px;}
    .guide_inquiry .cont_box .tit {flex-basis: auto; padding-left: 10px;}
    .guide_inquiry .cont_box .box_2 {flex-direction: column; gap: 10px;}    
    .guide_inquiry .cont_box .box_2 ul {padding-left: 10px;}
    .guide_inquiry .cont_box .box_2 li {align-items: flex-start;}
    .guide_inquiry .cont_box .box_2 .text {margin-top: 10px;}

    .guide_tp_02 li {flex-direction: column; gap: 5px;}
    .guide_tp_02 .gubun {flex-basis: auto;}
    .guide_tp_02 .naeyong {margin-left: 10px;}
    .guide_tp_02 .img .pc {display: none;}
    .guide_tp_02 .img .m {display: block;}

    .center_tit_box .big {font-size: 2.4rem;}
    .center_tit_box .big:before {width: 30px; height: 30px; top:-10px; left: -15px;}
    .center_tit_box .small br {display: none;}

    .center_info_1 {max-width: 300px; margin:0 auto;}
    .center_info_1 .cont_box {flex-direction: column; }
    .center_info_1 .cont_box .icon {rotate: 90deg;}

    .center_info_2 .box_1:after {border-top: 0; border-right: 0; transform: unset; width: 1px;}
    .center_info_2 .box_2 {flex-direction: column; gap: 10px;}
    .center_info_2 .box_3 {flex-direction: column; gap: 20px;}

    .guide_info_3 .info_cmnt li br {display: none;}

    .center_info_4 .box {flex-direction: column;}

    .center_info_img .img_m {display: block; max-width: 400px; margin:0 auto; width: 100%;}
    .center_info_img .img_pc {display: none;}

    .center_current_3 .box .list:after {display: none;}
    .center_current_3 .box .list li {width: calc(50% - 10px)}

    .center_way_tab li {margin: 0; font-size: 1.4rem;}
    .center_way_map .map iframe {height: 300px;}
    .center_way_map .info_list li {font-size: 1.4rem; padding-left: 80px;}

    .recruit_top {font-size: 1.4rem;}
    .recruit_top_item {flex-direction: column; gap: 5px; align-items: flex-start;}
    .recruit_top_item .gubun {flex-basis: auto;}
    .recruit_item {width: 100%;}

    .recruit_view_tit .subject {font-size: 2.4rem;}
    .recruit_cp_top {flex-direction: column; gap: 20px;}
    .recruit_cp_top .logo_box {flex-basis: auto; width: 100%; max-width: 300px;}
    .recruit_cp_top .info_box .company {font-size: 1.6rem;}
    .recruit_cp_bot .photo_box {flex-direction: column;}
    .recruit_info_list li {font-size: 1.4rem;}
    .recruit_info_list li .gubun {padding: 13px 10px 10px; flex-basis: 100px;}
    .recruit_info_list li .naeyong {padding: 13px 10px 10px;}
    

}

@media screen and (max-width:600px){     
    .guide_all .table_tit .mobile_cmnt {display: block;}
    .guide_all .table_wrap .table {overflow-x: scroll;}
    .guide_all .table_wrap table {min-width: 600px;}
    
    .guide_plan .table_tit .mobile_cmnt {display: block;}
    .guide_plan .table_wrap .table {overflow-x: scroll;}
    .guide_plan .table_wrap table {min-width: 600px;}

    .guide_tp_01 .mobile_cmnt {display: block;}
    .guide_tp_01 .table {overflow-x: scroll;}
    .guide_tp_01 .table table {min-width: 600px; margin: 2px;}

}


@media (max-width: 480px){
    .body_tit {margin-bottom: 25px;}
    .body_tit .big {font-size: 2.4rem;}
    .body_tit .big:after {top: -12px; right: -12px; width: 24px; height: 24px;}
    .body_tit .small {font-size: 1.4rem; margin-top: 10px;}

    .tab_menu li {display: block;}

    .main_edu {padding: 80px 0;}
    .main_board {padding: 80px 0;}

    .subscribe_wrap {padding: 80px 0;}
    .subscribe_wrap .title {font-size: 2rem;}

    .sked_search_wrap {padding: 5px 20px;}
    .sked_search_wrap li {align-items: flex-start; gap: 5px; flex-wrap: wrap;}
    .sked_search_wrap li .gubun {width: 100%;}
    .sked_list_wrap .sked_list .info .subject {font-size: 1.6rem;}
    .board_wrap .gallery_list_wrap .gallery_list li {width: 100%;}
    .community_write_wrap .subject input {font-size: 1.6rem;}

    .login_wrap .login_top_txt {text-align: left; color: #555;}
    .login_wrap .login_form {padding: 0; border: 0;}

    .form_wrap .form_box .form_tit {word-break: keep-all;}
    .form_wrap .form_box .form_tit .big {font-size: 1.8rem;}
    .form_wrap .form_box .form_tit .small {font-size: 1.4rem;}
    .form_wrap .form_box .form_list > li {flex-direction: column; gap: 10px; align-items: flex-start; font-size: 1.4rem;}
    .form_wrap .form_box .form_list > li .gubun {flex-basis: auto; font-size: 1.4rem; text-align: left; width: 100%;}
    .form_wrap .form_box .form_list > li .gubun p span {display: inline-block; margin-left: 3px; color: #555;}
    .form_wrap .form_box .form_list > li .naeyong {padding: 10px 0 15px;width: 100%;}
    .form_wrap .form_box .form_list > li .naeyong .input input.w50 {/*flex: 1; width: 100%;*/ max-width: 400px;}
    .form_wrap .form_box .form_list > li .cmnt {font-size: 1.2rem;}
    .form_wrap .form_box .form_list > li .cmnt::before {font-size: 8px; width: 14px; height: 14px; line-height: 14px;}

    .form_wrap .form_box .form_list .form_list_tit {flex-direction: row; gap: 0;}
    .form_wrap .form_box .form_list .form_list_tit .del_btn {font-size: 1.3rem;}
    .form_wrap .form_box .formAddBtn span {font-size: 1.3rem;}

    .form_wrap .form_box .form_keyword label {width: calc(50% - 5px);}

    .form_wrap .form_box .form_file label {font-size: 1.4rem;}
    .form_wrap .form_box .form_address .address_box input[type="button"] {font-size: 1.4rem;}
    .form_wrap .form_box .form_privacy_check {font-size: 1.4rem;}

    .form_wrap .form_box .form_privacy {padding: 5px 15px;}
    .form_wrap .form_box .form_privacy_inner .box {font-size: 1.2rem;}
    .form_wrap .form_box .form_privacy_inner .box .tit {font-size: 1.4rem;}
    .form_wrap .form_box .form_privacy_inner .box .table th,
    .form_wrap .form_box .form_privacy_inner .box .table td {word-break: break-all;}

    .form_guide .list li {flex-direction: column;}
    .form_guide .list li > div {padding: 15px 10px;}
    .form_guide .list .gubun {width: 100%;}

    #popupCalendar .popup_box {padding: 30px 0 ;}
    .calBox .calRadio {text-align: center;}

    .guide_all .table_wrap th,
    .guide_all .table_wrap td {padding: 2px;}
    .guide_all .table_tit {font-size: 1.6rem;}

    .guide_plan .table_tit {font-size: 1.6rem;}

    .guide_tit_box > div {font-size: 2rem;}
    .guide_tit_box .num {margin-right: 5px;}

    .guide_top_bnr .small br {display: none;}
    

    .guide_all_inquiry .tit_box p {font-size: 2rem;}
    .guide_all_inquiry .cont_box {gap: 20px;}
    .guide_all_inquiry .cont_box li {gap: 10px;}
    .guide_all_inquiry .cont_box .text {font-size: 1.4rem;} 

    .guide_info_1 .logo {gap: 10px;}
    .guide_info_3 .info_list li {padding: 20px;}
    .guide_info_4 .info_list li {width: calc(50% - 10px);}
    .guide_info_5 .info_list li {width: calc(50% - 10px);}

    .guide_inquiry .cont_box .box_2 .text {font-size: 1.4rem;}

    .guide_btn_box .btn_box a {font-size: 1.6rem;}
    .guide_btn_box .btn_box a:before,
    .guide_btn_box .btn_box a:after {width: 20px; height: 20px;}

    .center_tit_box {margin-bottom: 25px !important;}
    .center_tit_box .big {font-size: 2rem;}
    .center_tit_box .big:before {width: 25px; height: 25px; top: -8px; left: -14px;}

    .center_info_2 .box_3 .box_inner .list li {font-size: 1.4rem;}
    .center_info_2 .box_3 .box_inner .text {font-size: 1.4rem;}
    .center_info_3 .box {align-items: flex-start;}
    .center_info_3 .box .text {font-size: 1.4rem;}
    .center_info_3 .box .icon {flex-basis: 20px;}

    .center_way_tab li {padding:15px 10px 10px;}
    .center_way_map {padding: 20px;}
    .center_way_map .map iframe {height: 200px;}

    .recruit_top {padding: 20px;}
    .recruit_top_item .naeyong label {font-size: 1.2rem; margin: 5px 10px 5px 0;}

    .recruit_view_tit .subject {font-size: 2rem;}
    .recruit_cp_wrap {margin-top: 40px;}
    .recruit_cp_top .info_box .company {margin-bottom: 10px;}
    .recruit_cp_top .info_box .list {gap: 7px;}
    .recruit_info_wrap {margin-top: 40px;}


}


@page {
    margin:0;
}

@media print {
    html, body { -webkit-print-color-adjust:exact; width: 210mm; height: 297mm; }
    #header, #footer, #sidebar, .sub_top, .form_wrap .form_btn_box a {display: none;}
    #container {margin-top: 0;}
    #content_wrap {width: 210mm; height: 297mm; margin-top: 0; padding:20px;}
    #content {padding-top: 0; width: 100%; }
    .form_wrap .form_box .form_file label,
    .form_wrap .form_box .form_address .address_box input[type="button"] {display: none;}
    
}